<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trangiabao.giaothong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sathach.cauhoi.TuyChonCauHoiActivity" />
        <activity android:name=".tracuu.luat.VanBanActivity" />
        <activity android:name=".tracuu.bienbao.BienBaoActivity" />
        <activity android:name=".sathach.lambaithi.TuyChonBaiThiActivity" />
        <activity android:name=".tracuu.luat.NoiDungActivity" />
        <activity android:name=".sathach.cauhoi.CauHoiActivity" />
        <activity android:name=".sathach.lambaithi.BaiThiActivity" />
        <activity android:name=".tracuu.xuphat.XuPhatActivity" />
        <activity android:name=".tracuu.luat.ChuongActivity" />
        <activity android:name=".tracuu.biensoxe.BienSoXeActivity" />
    </application>

</manifest>